<div class="row justify-content-center" style="height: 100vh;">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div *ngIf="!showNoMoreQuestionsCard" style="height: 70%; width: 100%;">
      <div class="card card-question h-100">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title display-4">{{ currentQuestion.id }}</h5>
          <p class="card-text h4">{{ currentQuestion.question }}</p>
          <div class="btn-group" role="group" aria-label="Réponses">
            <button type="button" class="btn btn-outline-primary btn-lg" (click)="answerQuestion('Oui')">Oui</button>
            <button type="button" class="btn btn-outline-secondary btn-lg" (click)="answerQuestion('Je ne sais pas')">Je ne sais pas</button>
            <button type="button" class="btn btn-outline-danger btn-lg" (click)="answerQuestion('Non')">Non</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showNoMoreQuestionsCard" style="height: 70%; width: 100%;">
      <div class="card card-question h-100">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">Plus de questions pour aujourd'hui</h5>
        </div>
      </div>
    </div>
  </div>
</div>
